# Dependencies
node_modules

# Build
dist

# Environment
.env
.env.local
.env.*.local

# Logs & caches
*.log
.pnpm-debug.log*
package-lock.json
node_modules/.tmp

# Editor & OS
.DS_Store
.idea
*.swp
*.swo

# Vite
*.local
